 <div id="front_page">
  <p id="header">Welcome to Flatiron-Gram!</p>
    <p class="text"><%= form_tag('/sessions/new', method: :post) do %></h3>
    <p class="text">Username: <%= text_field_tag :username%></p>
    <p class="text">Password: <%= password_field_tag :password%></p>
    <p><div><%= submit_tag 'Log In', class: "button"%></div></p>
    <% end %>
    <% if flash[:notice] -%>
  		<p id="alert"><%= flash[:notice] %></p>
		<% end %>

  <%= button_to('Sign Up', new_user_path, method: :get, class: "button", id: "bottom-button") %>
  </div>
