<h1>Welcome to Flatiron-Gram!<h1>
  <h3><%= form_tag('/sessions/new', method: :post) do %></h3><br>
  <h3>Username: <%= text_field_tag :username %></h3><br>
  <h3>Password: <%= password_field_tag :password %></h3><br>
  <h3><div><%= submit_tag 'Log In' %></div></h3>
  <% end %>

<%= button_to('Sign Up', new_user_path, method: :get) %>
