<div id="navbar">
	<ul id="heads">
		<li class="header"><%= link_to("Home", user_path(@user))%></li>
		<li class="header"><%= link_to("New photo", 'pictures/new')%></li>
		<li class="header"><%= link_to("Log out", '/', method: :get)%></li>
		<li class="header" id="welcome"><%=@user.username%></li>
	</ul>
</div>


<p id="topper">Edit/Delete your comment!</p><br>
<p><%= @comment.content %><p>


<div id="container">
<%= button_to 'Edit', edit_comment_path, class: "buttons" %> <br>
<%= button_to('Delete', comment_path(@comment), method: :delete, class: "buttons")%>
 </div>