<div id="signup-block">

<div id="signup-head"><p>Sign up</p></div>
<% if @user.errors.any? %>
	<br>
	<%= pluralize(@user.errors.count, 'error')%><br>
	<ul>
	<% @user.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul><br>
<% end %>

<div id="signup"><%= form_for :user, url: '/users' do |f| %>
  <p>Username: <%= f.text_field :username %></p>
  <p>Email: <%= f.text_field :email %></p>
  <p>Password: <%= f.password_field :password %></p>
  <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
  <%= f.submit "Create Account", :class => 'button' %>
<% end %>
	<br><%= button_to "Back", '/', method: :get, :class => 'button' %>
</div>
 
 </div>