<h1><%= @user.username  %></h1>
<br>
<h2>Pictures:</h2>
<ul>
<% if @user.pictures.empty? %>
  <%="User doesn't have any pictures :(" %>
<% else %>
  <% @user.pictures.each do |picture| %>
  <li><%= link_to picture.title, picture %><br>
  <img src="<%= picture.image_url %>"></li><br>
  <% end %>
<% end %>
</ul>
<br>
<div><%= button_to('Add a picture', '/pictures/new', method: :get) %></div><br>
<%= button_to('Logout', 'sessions#destroy', method: :puts) %>
