
<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">

<div id="navbar">
	<ul id="heads">
		<li class="header"><%= link_to("Home", user_path(session[:user_id]))%></li>
		<li class="header"><%= link_to("New photo", 'pictures/new')%></li>
		<li class="header"><%= link_to("Log out", 'sessions#destroy', method: :post)%></li>
		<li class="header" id="welcome"><%=@user.username%></li>
	</ul>
</div>


<div id="pics">
	<br>
	<br>
	<h1><%= @user.username %>'s Page</h1>
<ul id="pic">
<% if @user.pictures.empty? %>
  <p id="no_pictures"><%= "No pictures :(" %><p>
<% else %>
  <% @user.pictures.each do |picture| %>
  <li><%= link_to (image_tag (picture.image_url)), picture_path(picture) %></li><br>
  <% end %>
<% end %>
</ul>
<br>
