
<div id="navbar"> 
	<ul id="heads"> 
		<li class="header">
		 <% if session[:user_id].nil? %> <%= link_to("Home", '/')%></li> 
		 <%else%>
		 <%= link_to("Home", user_path(session[:user_id]))%></li>
		  <%end%> 
		 <% if !session[:user_id].nil? %> 
		 <li class="header"><%= link_to("New photo", 'pictures/new')%></li> 
		 <li class="header"><%=link_to("Trending photos", '/pictures')%> </li>
		 <li class="header" id="welcome"><%= link_to("Log out", 'sessions#destroy', method: :post)%></li>
		 <li class="header" id="welcome">Welcome, <%=User.find_by(id: session[:user_id]).username%></li> 
		 <%end%>
	 </ul> 
</div>

<div id="pics">

	<p id="header"><%= @user.username %>'s Page</p>
<div id="pic">
<% if @user.pictures.empty? %>
  <p id="header_new"><%="No pictures :(" %><p>
<% else %>
  <% @user.pictures.each do |picture| %>
  <p><%= link_to (image_tag (picture.image_url)), picture_path(picture) %></p><br>
  <% end %>
<% end %>
</div>
<br>
