<div id="top"><h1 id="header"><%= @user.username  %></h1><br>
<div id="buttons"><%= button_to('Add a picture', '/pictures/new', method: :get, class: "clicker") %><br><br>
<%= button_to('Logout', 'sessions#destroy', method: :puts, class: "clicker") %></div></div>
<ul>
<% if @user.pictures.empty? %>
  <p id="no_pictures"><%= "No pictures :(" %><p>
<% else %>
  <% @user.pictures.each do |picture| %>
  <li><%= link_to (image_tag (picture.image_url)), picture_path(picture) %><br>
  <% end %>
<% end %>
</ul>
<br>
