<%# nav bar %>



<h2><%= @picture.title %> </h2><br>
<p><img src="<%= @picture.image_url %>"></p>
<br>
<br>
<p>Tags:</p><br>
<% @picture.tags.each do |tag| %>
<%= link_to tag.name, tag %>
<% end %>
<br>
<br>
<p>Make a tag for this picture!</p>
<%= form_tag ('/tags/create') do %><br>
<label>Name: </label><br>
<%= text_field_tag :name %><br>
<%= hidden_field_tag 'picture_id', @picture.id %>
<%= submit_tag "Make this tag" %>
<% end %>

<br>
<br>
<p>Comments:</p><br>
<ul>
  <% @comments.each do |comment| %>
  <li><%= comment.content %> - <%= link_to User.find_by(id: comment.user_id).username, user_path(User.find_by(id: comment.user_id)) %> - <%= link_to 'Edit/Delete this comment', comment%></li>
  <% end %>
</ul>
<br>
<br>
<p>Want to add a comment? Make it below!</p>
<%= form_for Comment.new do |f| %>
<%= f.text_area :content %>
<%= f.hidden_field :picture_id, :value => @picture.id %><br>
<%= f.hidden_field :user_id, :value => session[:user_id] %><br>
<%= button_to('Add a comment!', 'comments#create', method: :post) %>
<%= button_to "Delete Picture", @picture, :method => :delete %>
<% end %>
