<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">


<%# nav bar %>

<div id="navbar"> 
	<ul id="heads"> 
		<li class="header">
		 <% if session[:user_id].nil? %> <%= link_to("Home", '/')%></li> 
		 <%else%>
		 <%= link_to("Home", user_path(session[:user_id]))%></li>
		  <%end%> 
		 <% if !session[:user_id].nil? %> 
		 <li class="header"><%= link_to("New photo", 'pictures/new')%></li> 
		 <li class="header"><%=link_to("Trending photos", '/pictures')%> </li>
		 <li class="header" id="welcome"><%= link_to("Log out", 'sessions#destroy', method: :post)%></li>
		 <li class="header" id="welcome">Welcome, <%=User.find_by(id: session[:user_id]).username%></li> 
		 <%end%>
	 </ul> 
</div>

<%# content %>
<div><p id="picname"><%= @picture.title %> </p></div>
<p><img src="<%= @picture.image_url %>"></p>


<p><span class="blue">Tags:</span>
<% @picture.tags.each do |tag| %>
#<%= link_to tag.name, tag, class: "green-tag"%>
<% end %>
<br><br>
<% if @picture.tags.empty? == false %>
	<%= link_to 'Delete tags', show_pic_tags_path %>
<% end %>
<p>

<p class="blue">Comments:</p>
<ul>
  <% @comments.each do |comment| %>
  <p>"<%= comment.content %>" - <span id="purple"><%= link_to User.find_by(id: comment.user_id).username, user_path(User.find_by(id: comment.user_id)) %></span> - <span id="smaller"><%= link_to 'Edit/Delete this comment', comment%></span></p>
  <%end%>
</ul>



<div id="container">
<div class="within" id="1">
<%= form_tag ('/tags/create') do %>
<p class="blue">Add a tag:</p>
<p><%= text_field_tag :name %><p>
<%= hidden_field_tag 'picture_id', @picture.id %>
<%= submit_tag "Tag it", class: "button" %>
<% end %>
<br>
</div>

<div class="within" id="2">
<p class="blue">Add a comment:</p>
<%= form_for Comment.new do |f| %>
<p><%= f.text_field :content %></p>
<%= f.hidden_field :picture_id, :value => @picture.id %>
<%= f.hidden_field :user_id, :value => session[:user_id] %>
<p><%= button_to('Comment it', 'comments#create', method: :post, class: "button") %></p>
</div>
</div>
<p><%= button_to("Delete Picture", @picture, :method => :delete, class: "button", id: "delete")%></p>
<% end %>
